@import "../../App.scss";

    p{
        order: 0;
        line-height: 2;
        padding: 0 10px;
        font-size: 1rem;
        text-align: center;
        color: #C95B5B;
    
    }
    
    .btnLogReg{
        order: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color:black;
        border-radius: 15px;
        background-color:initial;
        border-style: initial;

    }

    .forgetMotpasse{
        order: 0;
        line-height: 2.5;
        padding: 20px 20px;
        font-size: 1rem;
        color: #C95B5B;
        background-color:initial;
        border-color: initial;
        border-style: initial; 
    }

