@import "../../App.scss";

button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 21px;
    background: #C95B5B;
    height: 40px;
    padding: 16px 16px 12px 16px;
    font-size: 18px;
    font-family: $font-text;
    color: white;
    border: none;
    font-variant: small-caps;
    letter-spacing: 0.8px;
}