@import "../../App.scss";

.homepage {
  scroll-behavior: smooth;
  padding-bottom: 40px;
  a {
    text-decoration: none;
  }
  .video-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
    div {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        color: white;
        font-family: $font-text;
        font-size: 40px;
        font-weight: 100;
        margin-top: 32px;
        text-align: center;
      }
      .logo-video {
        filter: invert(1);
        width: 300px;
      }
    }
    video {
      min-width: 100%;
      min-height: 100%;
    }
  }

  .cepage-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 5vw;
      font-family: $font-title;
      font-style: normal;
      font-weight: 100;
      margin-top: 64px;
    }
    h3 {
      font-size: 3vw;
      font-family: $font-title;
      font-style: normal;
      font-weight: 100;
      margin-top: 6vh;
      margin-bottom: 4vh;
    }

    h4 {
      font-size: 1.5vw;
      font-family: $font-title;
      font-style: normal;
      font-weight: 100;
      margin-top: 4vh;
      margin-bottom: 0.5vh;
    }

    p {
      font-family: $font-text;
      width: 80%;
      text-align: justify;
      line-height: normal;
    }

    span {
      font-family: $font-text;
      width: 60%;
      text-align: center;
    }
    img {
      max-height: 30vh;
      width: 80%;
      margin-top: 4vh;
    }

    .section-wrapper {
      display: flex;

      .map-container {
        width: 60vw;
        height: 87vh;
        margin: 5vh 0vw auto 0vw;
        cursor: pointer;
      }

      .region-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;
      }

      .region-info-container-welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40vw;

        .welcome-title {
          padding: 2vh 0 2vh 0;
          border-top: solid 1px rgb(162, 162, 162);
          border-bottom: solid 1px rgb(162, 162, 162);
        }
        .welcome-message {
          margin-top: 2vh;
          padding: 2vh 0 2vh 0;
          text-align: center;
          width: 40%;
        }
      }
    }
  }

  .concept {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 5vw;
      font-family: $font-title;
      font-style: normal;
      font-weight: 100;
      margin-top: 64px;
    }
    .logo-concept {
      width: 20vw;
      margin: 40px 0;
    }
    .concept-desc {
      width: 40vw;
      font-family: $font-text;
      text-align: justify;
      font-weight: 100;
      line-height: 23px;
      letter-spacing: 0.8px;
      margin-bottom: 40px;
    }

    .img-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 3vw;
    }
  }

  .wines {
    @extend .concept;
    p {
      font-family: $font-text;
      text-align: center;
      font-weight: 100;
      line-height: 23px;
      letter-spacing: 0.8px;
      margin: 40px 0;
    }
    .img-container {
      a {
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            margin: 0;
          }
          span {
            color: black;
            font-size: 24px;
            font-family: $font-text;
            margin-top: 16px;
          }
        }
      }
    }
    .slide-indicator {
      display: none;
    }
  }

  .ateliers {
    @extend .concept;
    h2 {
      margin-bottom: 40px;
    }

    .atelier {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 90%;
      margin-bottom: 54px;
      .atelier-desc {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
          font-size: 4vw;
          font-family: $font-title;
          font-style: normal;
          font-weight: 100;
        }
        p {
          width: 80%;
          margin: 54px 0;
          font-family: $font-text;
          text-align: justify;
          font-weight: 100;
          line-height: 23px;
          letter-spacing: 0.8px;
        }
      }
      img {
        width: 45%;
      }
    }
  }
}

@media screen and (max-width: 1177px) {
  .homepage {
    .video-container {
      height: initial;
      div {
        .logo-video {
          width: 70vw;
        }
      }
      video {
        height: 100vh;
        width: initial;
      }
    }
    .concept {
      h2 {
        font-size: 8vw;
      }
      .logo-concept {
        width: 30vw;
      }
      .concept-desc {
        width: 70vw;
        margin-bottom: 32px;
      }

      .img-container {
        img {
          width: 30%;
        }
      }
    }
    .wines {
      .img-container {
        a {
          width: 30%;
          div {
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .ateliers {
      .atelier {
        width: 95%;
        .atelier-desc {
          width: 50%;
          margin: 24px 0;
          p {
            margin: 24px 0;
            line-height: 16px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .homepage {
    .concept {
      .img-container {
        img {
          width: 95%;
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            display: none;
          }
        }
      }
    }
    .wines {
      .img-container {
        overflow-x: scroll;
        flex-wrap: nowrap;
        width: 90vw;
        justify-content: flex-start;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
        a {
          min-width: 90vw;
          scroll-snap-align: center;
          div {
            span {
              margin: 16px 0;
            }
          }
        }
      }
      .slide-indicator {
        display: flex;
        align-items: center;
        width: 90%;
        height: 2px;
        background-color: #9a9a9b;
        .indicator {
          width: 33%;
          height: 2px;
          background-color: rgb(0, 0, 0);
          transition: all 0.5s ease-out;
          &_1 {
            transition: all 0.5s ease-in-out;
            transform: translateX(100%);
          }
          &_2 {
            transition: all 0.5s ease-in-out;
            transform: translateX(200%);
          }
        }
      }
    }
    .ateliers {
      h2 {
        margin-bottom: 0;
      }
      .atelier {
        width: 90%;
        &:nth-child(odd) {
          flex-direction: column-reverse;
        }
        &:nth-child(even) {
          flex-direction: column;
        }

        .atelier-desc {
          width: 100%;
          h3 {
            font-size: 24px;
          }
          p {
            margin: 32px 0;
            line-height: 20px;
          }
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

/* ------------------------------------------------------------------------------------------------ */
/*                                       Mapbox popups                                        
  /* ------------------------------------------------------------------------------------------------ */

.mapboxgl-popup-content {
  text-align: center;
  padding: 1vh 2vw 1vh 2vw;
  margin: 0;
  font-family: $font-title;
  font-size: 0.7vw;
  border-radius: 20px;
}

.mapboxgl-popup-tip {
  border: 10px solid transparent;
  border-top-color: transparent;
  margin-bottom: 2vh;
}

.mapboxgl-popup-close-button {
  display: none;
}
