 .noteselection{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .notesubselection{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 50px;
    width: 400px;
    font-family: 'benne';
    font-size: 30px;
  
   }

   