datalist {
  display: flex;
  justify-content: space-between;
  writing-mode: horizontal-tb;
  width: 300px;
  font-family: 'benne';
  font-size: 20px;
  

  option {
    padding: 0;
  }
}

input[type="range"] {
  width: 300px;
  margin: 0;
  overflow: hidden;
  background-color: black;

}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: black;
  margin-top: -1px;
}