datalist {
  display: flex;
  justify-content: space-between;
  writing-mode: horizontal-tb;
  width: 400px;
  font-family: 'benne';
  font-size: 20px;
  

  option {
    padding: 0;
  }
}

input[type="range"] {
  width: 400px;
  margin: 0;
  overflow: hidden;
  background-color: black;

}
