@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

$font-text : Benne;
$font-title : Federo;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
  display: flex;
  justify-content: center;
  font-family: 'Federo';
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 20px;

}

.page-container {

    background-color: white;
  

   .subtitle {
    display: flex;
    justify-content: center;
    font-family: 'Benne';
    font-size: 24px;
    margin-bottom: 3%;

    
}

.Oeil {
  display: flex;
    justify-content: center;
    font-family: 'benne';
    font-size: 40px;
    margin-bottom: 60px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 10px;
}

.Couleur {
  display: flex;
  justify-content: center;
  font-family: 'benne';
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
 
}
  
.round-button {
  position: flex;
  justify-content: center;
  width: 100px;
  height: 30px;
  border-radius: 20%;
  background-color: #C95B5B;
  color: white;
  font-size: 16px;
  font-family: 'Benne';
  cursor: pointer;
  margin-top: 50px;
  
  &:hover {
    background-color: darkred;
  }
}

.container-oeil {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  
}

.Intensite{
  text-align: center;
  font-family: 'benne';
  font-size: 30px;

}



.Fluidité{
  text-align: center;
  font-family: 'benne';
  font-size: 30px

}

.Limpidité{
  text-align: center;
  font-family: 'benne';
  font-size: 30px
}

.Brillance{
  text-align: center;
  font-family: 'benne';
  font-size: 30px
}


 }
  
  