@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

$font-text : Benne;
$font-title : Federo;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.page-container {
  display: flex;
  flex-direction: column;
  h3 {
    font-family: 'Benne';
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 0.1em;
  
  }


  .title {
    display: flex;
    justify-content: center;
    font-family: 'Federo';
    font-size: 50px;
    margin: 70px 0 20px 0;
   }

.subtitle {
    display: flex;
    justify-content: center;
    font-family: 'Benne';
    font-size: 24px;
    margin-bottom: 90px;
}

.oeil {
  display: flex;
  justify-content: center;
  font-family: 'benne';
  font-size: 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-top: 10px;
  width: 95%;
  margin:auto;

}

.couleur {
  display: flex;
  justify-content: center;
  font-family: 'benne';
  font-size: 30px;
  margin: 90px 0 20px 0;
  }
}

.container-oeil {
  display: flex; flex-wrap: wrap;
  margin-top: 100px;

.container-suboeil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 40px;

  } 
}

.nez {
  display: flex;
  justify-content: center;
  font-family: 'benne';
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 40px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-top: 10px;
  width: 95%;
  

}

.container-nez {
  display: flex; flex-wrap: wrap;
  margin-top: 100px;

.container-subnez {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 40px;

  } 
}
.famillesAromatiques {
  font-family:'benne';
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 80px;

  
}
.container-famillesAromatiques {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.bouche {
  display: flex;
  justify-content: center;
  font-family: 'benne';
  font-size: 40px;
  margin-top: 40px;
  margin-left: 50px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-top: 10px;
  width: 95%;

}

.container-bouche {
  display: flex; flex-wrap: wrap;
  margin-top: 100px;

 .container-subbouche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 40px;

  } 
}

.impression {
  display: flex;
  justify-content: center;
  font-family: 'benne';
  font-size: 40px;
  margin-top: 40px;
  margin-left: 50px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-top: 10px;
  width: 95%;
}
 
.container-impression {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;

}

   .container-subimpression {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    width: 95%;
   }


   .container-BtnValiAtelier{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    width: 95%;
  }

.container-footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 40px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-top: 50px;
  width: 95%;

}


  
