@import "../../App.scss";

.formLog{

        display: flex;
        // padding-top: 100px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        h1{
            color: black;
            font-family: $font-text;
            font-size: 40px;
            font-weight: 100;
            margin-top: 5%;
            text-align: center;
        }
          
        .inputForm{
            display: flex;
            flex-direction: column;
            // width: 30%;
           

            .inputLogReg{
                margin-bottom: 40px;
                border-top-width: 0px;
                border-right-width:0px ;
                border-left-width:0px ;
                border-bottom-width:1px ;
                border-style: inset;
                border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));    
                height: 40px;
            }
        }    
   
}


