@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

$font-text : Benne;
$font-title : Federo;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
