@import "../../App.scss";

.admin-wine-details {
  padding-top: 3.7rem;
  padding-bottom: 2rem;
  .content {
   display: flex;
  justify-content: center;
  .image {  
    width: 30%;
    display: flex;
    justify-content: center;
  }
    .content-body {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      label {
        width: 100%;
        display: flex;
        font-size: 23px;
        padding: 10px;
        font-family: Benne;
        
        input  {
          margin-top: 0.2rem;
          font-size: 18px;
          padding-bottom: 0.2rem;
          border: none;
          border-bottom: 1px dashed #c4bfbf;
          font-family: Benne;
          padding-left: 10px;
        }
        
      }
      .comment {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
        .comment-input {
          border: none;
          font-size: 18px;
          height: 8rem;
          border-radius: 0.2rem;
          padding-top: 0.5rem;
          padding-inline: 0.5rem;
          font-family: Benne;
        }
        input:focus, .comment-input:focus {
          outline: #c95b5b solid 2px;
        }
    }
    .content-buttons {
      margin: auto;
      margin-top: 3rem;
      width: 80%;
      display: flex;
      justify-content: space-around;

      .btn {
        transition: 200ms;
      }
      .btn:hover {
        scale: 1.1;
        transition: 200ms;
      }
    }
  } 
 

}