.admin-wines {
  padding-top: 3.7rem;
  display: flex;
  flex-direction: column;
  h2{
    text-align: center;
    width: 100%;
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 2rem;
    font-family: Federo;
  }
  table {
    width: 80%;
    border-collapse: collapse;
    border-style: hidden;
    margin-bottom: 2rem;
    margin: auto;
    th {
      text-align: center;
      border: 1.5px solid #313131;
      font-weight: 300;
      font-weight: 200;      
    }   
    .headerManager {
       width: 40%;
      }
    td {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      text-align: center;
      border: 1.5px solid #313131;
      border-bottom: none;
      border-top: none;
   }
    .buttonCell {
      display: flex;
      justify-content: space-around;
      border: none;       
    }
  }
  p {
    width: fit-content;
  }
  .btn {
    transition: 300ms;
  }
  .btn:hover {
    scale: 1.1;
    transition: 300ms;
  }
}