.newWorkshop {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  .backButton {
    width: fit-content;
    margin-left: 3rem;
  }
  h2{
    text-align: center;
    width: 100%;
    font-size: 4rem;
    font-weight: 300;
  }
  table {
    width: 80%;
    border-collapse: collapse;
    border-style: hidden;
    margin: auto;
    th {
      text-align: center;
      border: 1.5px solid #313131;
      font-weight: 300;
      
    }   
    td {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      
      text-align: center;
      border: 1.5px solid #313131;
      border-bottom: none;
      border-top: none;
   }
   input {
    border: none;
   }
   select {
    width: 90%;
    margin: auto;
    border: none;
    background-color: transparent;
    text-align: center;
   }
   .buttonCell {
    display: flex;
    justify-content: space-around;
    border: none;
     
  }
  button:hover {
    
    transition: 300ms;
    scale: 1.1;
    cursor: pointer;
  }
}
}