@import url("../../App.scss");

.newWorkshop {
  padding-top: 3.7rem;
  display: flex;
  flex-direction: column;  
  h2{
    text-align: center;
    width: 100%;
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 3rem;
    font-family: Federo;
  }
  .content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}


    .content-location {
      display: flex;
      flex-direction: column;
      width: 40%;
      label {
        margin-bottom: 0.4rem;
        font-size: 25px;
      }
      select {
        font-family: Benne;
        font-size: 18px;
        margin-left: 0.5rem;
        width: 25rem;
        background-color: transparent;
        border: none;
        border-bottom: dashed 1.5px #c4bfbf;
        text-align: center;
        option {
          font-family: Benne;
          font-size: 18px;
        }
      }
      img {
        margin-top: 1.5rem;
        min-height: 300px;
      }
    }
    .content-body {
      width: 50%;
      display: flex;
      flex-direction: column;
      font-family: Benne;
      label {
        display: flex;
        margin-bottom: 1rem;
        font-size: 25px;
        
        .input {
          margin-left: 0.5rem;
          font-size: 18px;
          border: none;
          width: 10rem;
          border-bottom: dashed 1.5px #c4bfbf;
          padding-inline: 0.5rem;
        }
        .input:focus {
          outline: #c95b5b solid 2px;
        }
        select {
          font-family: Benne;
          font-size: 18px;
          margin-left: 0.5rem;
          width: 15rem;
          background-color: transparent;
          border: none;
          border-bottom: dashed 1.5px #c4bfbf;
          text-align: center;
        }
      }
      .btn {
        margin-left: 3rem;
        margin-top: 2rem;
        transition: 200ms;
      }
      .btn:hover {
        scale: 1.1;
        transition: 200ms;
      }
      .btn:disabled {
        background-color: #c4bfbf;
      }
      .btn:disabled:hover {
        scale: 1;
        cursor: not-allowed
      }
    }
  }
}