@import "../../App.scss";

.session-list-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-hidden {
    display: none;
  }

  h1 {
    font-size: 2vw;
    font-family: $font-text;
    text-transform: uppercase;
  }

  img {
    margin-top: 1vh;
    width: 80%;
  }

  .session-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .session-title {
      text-align: center;
      margin-top: 5vh;
    }

    .session {
      margin-top: 1vh;
      text-align: center;
      padding: 0.3vw 1.5vw 0.3vw 1.5vw;
      border-radius: 2vw;
      border: 1px solid rgb(173, 173, 173);
      font-size: 0.9vw;

      &-registered {
        @extend .session;
      }

      &-selected {
        @extend .session;
        background-color: #c95b5b;
        color: #ffffff;
        border: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
